@import "tailwindcss";

@theme {
  --breakpoint-mob: 28.125rem;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

:root
{
    --comp-color: rgb(0, 255, 255);
    --placeholder-color: rgba(255, 255, 255, 0.7);
}

body
{
    background-color: black;
    color: white;
}

input
{
    outline: none;
}